* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
:root {
  --primarycolor: #0a192f;
  --lightprimarycolor: #142949;
}
.container {
  background-color: var(--primarycolor);
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  top: 2em;
  max-height: 6em;
}
.menuitems {
  display: none;
}
.displaymenu {
  display: unset;
  background-color: var(--lightprimarycolor);
  width: 66%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  padding-top: 5em;
}
.closemenu {
  width: 0px;
  height: 0px;
}
h6 {
  font-size: 1.2em;
  padding: 1em 1.5em;
  font-weight: lighter;
  color: white;
}
.resume {
  margin: 5em 2em;
  padding: 1.2em 4em;
  background-color: var(--lightprimarycolor);
  color: white;
  border: 1px solid white;
  border-radius: 0.2em;
  opacity: 0.6;
}
.resume:hover {
  opacity: 1;
}
.close {
  margin-left: 75%;
  margin-top: -20%;
}
.logo .menuicon {
  max-width: 5px;
  max-height: 5px;
}
.hero {
  padding: 0.7em 3em;
}
.firstline {
  color: white;
  opacity: 0.5;
  padding: 1em 0em;
}
.name {
  color: white;
  max-width: 10em;
  opacity: 0.8;
}
.intro {
  color: white;
  opacity: 0.6;
}
.introparagraph {
  color: white;
  opacity: 0.6;
  margin-top: 0.5em;
  line-height: 1.5em;
  max-width: 28em;
}
.getintouch {
  margin: 5em 0em;
}
.aboutsection {
  padding: 0.7em 3em;
}

.aboutme {
  color: white;
  opacity: 0.8;
  font-size: 1.2em;
  padding: 4em 0em 2em 0em;
}
.aboutpara {
  color: white;
  opacity: 0.6;
  margin-top: 0.5em;
  line-height: 1.5em;
  max-width: 28em;
  padding-bottom: 0.6em;
}
.photosection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1em;
}
.photocontainer::before {
  content: '';
  border: 0.1em solid white;
  width: 100%;
  height: 95%;
  top: 0.8em;
  left: 0.8em;
  position: absolute;
  border-radius: 0.5em;
  z-index: 400;
}
.photocontainer {
  position: relative;
  width: 50%;
  opacity: 0.5;
}
.myphoto {
  border-radius: 0.5em;
  width: 100%;
  position: relative;
  z-index: 500;
}
.photocontainer:hover::before {
  top: 0.3em;
  left: 0.3em;
  transition-duration: 0.2s;
}
.photocontainer:hover {
  opacity: 1;
  transition-duration: 0.2s;
}
.worksection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left {
  padding: 2em 0em 2em 2em;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.things {
  opacity: 0.6;
  align-self: flex-start;
}
.workimage {
  width: 75%;
  margin-top: 1em;
  opacity: 0.5;
  border-radius: 0.5em;
}
.workimage:hover {
  opacity: 1;
}
.right {
  padding: 2em 3em;
  color: white;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
li {
  display: inline-block;
  margin-top: 1em;
  color: white;
  opacity: 0.6;
  margin-left: 1em;
  font-size: 0.8em;
}
.githubprofile {
  background-color: #162d54;
  border-radius: 0.5em;
  padding: 1em;
}
.Octoprofile {
  padding: 0.2em 0em;
}
.archivesection {
  padding: 2em 3em;
}

.worthyprojects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0.7em;
  column-gap: 0.7em;
  justify-content: center;
  align-items: center;
}
.griditems {
  background-color: #162d54;
  height: 320px;
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 2em;
  opacity: 0.6;
}
.griditems > h3 {
  margin: 0;
  padding: 1em 0em;
  font-weight: bold;
}
.griditems:hover {
  transform: translateY(-0.2em);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* mediaquery */
@media only screen and (min-width: 768px) {
  .menuicon {
    display: none;
  }
  .menuitems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .close {
    display: none;
  }
  h6 {
    font-size: 0.9em;
    padding: 1em 1.5em;
    font-weight: normal;
    color: white;
    margin-left: 1em;
  }
  .resume {
    margin: 3em 2em;
    padding: 0.7em 1.2em;
    background-color: var(--lightprimarycolor);
    color: white;
    border: 1px solid white;
    border-radius: 0.2em;
  }
  .getintouch {
    margin: 5em 0em;
    padding: 1.2em 3em;
  }
  .hero {
    margin: -2em 8em;
  }

  .firstline {
    color: white;
    opacity: 0.5;
    font-size: 1em;
  }
  .name {
    color: white;
    max-width: 10em;
    font-size: 4em;
  }
  .intro {
    color: white;
    opacity: 0.6;
    font-size: 4em;
  }
  .introparagraph {
    color: white;
    opacity: 0.6;
    margin-top: 0.5em;
    line-height: 1.5em;
    max-width: 28em;
    font-size: 1.2em;
  }
  .aboutsection {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutcontent {
    flex: 1;
    margin-left: 5em;
  }
  .aboutme {
    font-size: 1.5em;
  }
  .aboutpara {
  }
  .photosection {
    flex: 0.7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0em 2em 1em;
  }

  .myphoto {
    width: 100%;
  }
  .photocontainer {
    width: 80%;
    position: relative;
    margin-top: 5em;
  }
  .photocontainer::before {
    content: '';
    border: 0.1em solid white;
    width: 100%;
    height: 100%;
    top: 0.5em;
    left: 0.6em;
    position: absolute;
    border-radius: 0.5em;
    z-index: 400;
  }
  .photocontainer:hover::before {
    top: 0.2em;
    left: 0.3em;
  }
  .worksection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2em 0em;
  }
  .left {
    width: 100%;
    margin-right: 2em;
    padding-left: 8em;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .right {
    margin-right: 2em;
    width: 40%;
    padding-right: 8em;
  }
  .githubprofile {
    margin-top: 1em;
    margin-left: -15em;
    line-height: 1.5em;
    padding: 1em;
  }
  .workimage {
    margin-top: 1em;
    margin-left: 5em;
    min-width: 300px;
    max-width: 90%;
    padding: 0.5em;
    border-radius: 0.7em;
  }
  .places {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1em 0em;
  }
  .featuredprojects {
  }
  .archivesection {
    padding: 2em 10em;
  }
  .worthyprojects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.7em;
    column-gap: 0.7em;
    justify-content: center;
    align-items: center;
  }
  .griditems {
    background-color: #162d54;
    height: 340px;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 2em;
    opacity: 0.6;
  }
  .griditems > h3 {
    margin: 0;
    padding: 1em 0em;
    font-weight: bold;
  }
  .griditems:hover {
    transform: translateY(-0.2em);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
